**1st question**

In [ ]:
import pandas as pd

In [ ]:
# reading csv fie data
data = pd.read_csv("student_scores.csv")
print("CSV file \n",data)

CSV file
     Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [ ]:
# number of features and patterns
#features:2 ,patterns:25
print(data.shape)
# number of features
print(data.columns)
#number of patterns
data.index
# rage of output
print(f"{min(data['Scores']) , max(data['Scores'])}")

(25, 2)
Index(['Hours', 'Scores'], dtype='object')
(17, 95)

**2nd question**

In [ ]:
# Randomly splitting the data
import numpy as np
from sklearn.model_selection import train_test_split

data = pd.read_csv("student_scores.csv")
xdata = data.iloc[:,:-1]
ydata = data.iloc[:,-1]
print("x data: ")
print(xdata)
print("\n")
print("y data")
print(ydata)
x_train,x_test,y_train,y_test = train_test_split(xdata,ydata,test_size=0.1,random_state=1)

x data:
    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8


y data
0     21
1     47
2     27
3     75
4     30
5     20
6     88
7     60
8     81
9     25
10    85
11    62
12    41
13    42
14    17
15    95
16    30
17    24
18    67
19    69
20    30
21    54
22    35
23    76
24    86
Name: Scores, dtype: int64

In [ ]:
# printing the splitted data
print("x train data: ")
print(x_train)
print("\n")
print("x test data: ")
print(x_test)
print("\n")
print("y train data: ")
print(y_train)
print("\n")
print("y test data: ")
print(y_test)

x train data:
    Hours
3     8.5
21    4.8
10    7.7
18    6.1
19    7.4
4     3.5
2     3.2
20    2.7
6     9.2
7     5.5
22    3.8
1     5.1
16    2.5
0     2.5
15    8.9
24    7.8
23    6.9
9     2.7
8     8.3
12    4.5
11    5.9
5     1.5


x test data:
    Hours
14    1.1
13    3.3
17    1.9


y train data:
3     75
21    54
10    85
18    67
19    69
4     30
2     27
20    30
6     88
7     60
22    35
1     47
16    30
0     21
15    95
24    86
23    76
9     25
8     81
12    41
11    62
5     20
Name: Scores, dtype: int64


y test data:
14    17
13    42
17    24
Name: Scores, dtype: int64

**3rd** **question**

In [ ]:
# calculating mean , median , mode ,standard deviation 

#Over all
print("Overall mean: ")
print(data.mean().mean())
print("\n")

print("Overall median: ")
print(data.median().median())
print("\n")

print("Overall mode: ")
print(data.mode().mode())
print("\n")

print("Overall standard deviation: ")
print(data.std())
print("\n")



# column wise 

print("column wise mean: ")
print(data.mean(axis=0))
print("\n")

print("column wise median: ")
print(data.median(axis=0))
print("\n")
print("column wise mode: ")
print(data.mode(axis=0))
print("\n")
print("column wise standard deviation: ")
print(data.std(axis=0))
print("\n")

# Row wise
print("row wise mean: ")
print(data.mean(axis=1))
print("\n")
print("row wise median: ")
print(data.median(axis=1))
print("\n")
print("row wise mode: ")
print(data.mode(axis=1))
print("\n")
print("row wise standard deviation: ")
print(data.mode(axis=1))
print("\n")

Overall mean:
28.246


Overall median:
25.9


Overall mode:
   Hours  Scores
0    2.5    30.0
1    2.7     NaN


Overall standard deviation:
Hours      2.525094
Scores    25.286887
dtype: float64


column wise mean:
Hours      5.012
Scores    51.480
dtype: float64


column wise median:
Hours      4.8
Scores    47.0
dtype: float64


column wise mode:
   Hours  Scores
0    2.5    30.0
1    2.7     NaN


column wise standard deviation:
Hours      2.525094
Scores    25.286887
dtype: float64


row wise mean:
0     11.75
1     26.05
2     15.10
3     41.75
4     16.75
5     10.75
6     48.60
7     32.75
8     44.65
9     13.85
10    46.35
11    33.95
12    22.75
13    22.65
14     9.05
15    51.95
16    16.25
17    12.95
18    36.55
19    38.20
20    16.35
21    29.40
22    19.40
23    41.45
24    46.90
dtype: float64


row wise median:
0     11.75
1     26.05
2     15.10
3     41.75
4     16.75
5     10.75
6     48.60
7     32.75
8     44.65
9     13.85
10    46.35
11    33.95
12    22.75
13    22.65
14     9.05
15    51.95
16    16.25
17    12.95
18    36.55
19    38.20
20    16.35
21    29.40
22    19.40
23    41.45
24    46.90
dtype: float64


row wise mode:
      0     1
0   2.5  21.0
1   5.1  47.0
2   3.2  27.0
3   8.5  75.0
4   3.5  30.0
5   1.5  20.0
6   9.2  88.0
7   5.5  60.0
8   8.3  81.0
9   2.7  25.0
10  7.7  85.0
11  5.9  62.0
12  4.5  41.0
13  3.3  42.0
14  1.1  17.0
15  8.9  95.0
16  2.5  30.0
17  1.9  24.0
18  6.1  67.0
19  7.4  69.0
20  2.7  30.0
21  4.8  54.0
22  3.8  35.0
23  6.9  76.0
24  7.8  86.0


row wise standard deviation:
      0     1
0   2.5  21.0
1   5.1  47.0
2   3.2  27.0
3   8.5  75.0
4   3.5  30.0
5   1.5  20.0
6   9.2  88.0
7   5.5  60.0
8   8.3  81.0
9   2.7  25.0
10  7.7  85.0
11  5.9  62.0
12  4.5  41.0
13  3.3  42.0
14  1.1  17.0
15  8.9  95.0
16  2.5  30.0
17  1.9  24.0
18  6.1  67.0
19  7.4  69.0
20  2.7  30.0
21  4.8  54.0
22  3.8  35.0
23  6.9  76.0
24  7.8  86.0

**4th question**

In [ ]:
#Calculate the sum square error for polynomial curve fitting problem using the dataset.
from sklearn.linear_model import LinearRegression

#linear regression model
algl = LinearRegression()

#trainig the model with data sets(x_train ,  y_train)
algl.fit(x_train,y_train)

# testing the model with data set(x_test)
y_pred = algl.predict(x_test)
print("predicted values for x_test data: \n")
print(y_pred)

predicted values for x_test data:

[11.12011779 33.38368634 19.2159609 ]